body, divs{
    background-color: rgba(0, 0, 0, 0.92);
    font-family: 'Inter', sans-serif;
}
div.card-body{
    background-color: blanchedalmond;
}
#circle-nav{
    padding: 1rem;
    border-radius: 50%;
    background-color: white;
}